<% provide(:title, "Contact") %>
<section class="masthead">
    <div class="container">
        <h1>Contact</h1>
        <a href="mailto:ryan@catalyze.io" class="button">ryan@catalyze.io</a>
    </div>
</section>
